{% extends 'base.html' %}
        {%block content%}
        {% load static %}

		<div class="col-sm-6 offset-sm-3">
		<table class="table table-hover bg-white mt-4">
			<thead class="table-dark" >
			  <tr class="text-center">
				<th scope="col" style="width:10%">Room</th>
				<th scope="col" style="width:10%">Seating Capacity</th>
				<th scope="col" style="width:20%">Delete</th>
			  </tr>
			</thead>
			<tbody>
			 {% for rm in rooms %}
			  <tr class="text-center" >

				<td>{{rm.r_number}}</td>
				<td>{{rm.seating_capacity}}</td>
				<td class="text-center">
				 {% comment %} <a href="/" class="btn btn-warning btn-sm">Edit</a> {% endcomment %}

				 <form action="{% url 'deleteroom' rm.id %}" method="post" class="d-inline"> {% csrf_token %}
				 <input type="submit" class="btn btn-danger btn-sm" value="Delete">
				</form>

				</td>
			  </tr>
			 {% endfor %}
			</tbody>
		  </table>
		  <a href="{% url 'addRooms'%}"><h6>Back to Add Rooms</h6></a>
		</div>

{% endblock %}
